/* Default Body */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
	font-family: "Mulish", sans-serif;
	-webkit-font-smoothing: antialiased;
    background-color: #0c0e31;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	color: white;
	font-weight: 400;
	font-family: "Mulish", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
    font-weight: 700;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	font-family: "Mulish", sans-serif;
	color: #ffffff;
	font-weight: 400;
	line-height: 25px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

/* Header */

.main_logo {
    height: 60px;
    padding: 0;
    margin: 0;
}

#main_header {
    background-color: #070722;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.main_header_content {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_logo {
    display: flex;
    align-items: center;
    border: none;
    margin-top: 10px;
}

.main_search {
    display: flex;
    align-items: center;
    margin-right: 10vh;
}

/* Header indepth */

.main_search_field {
    width: 200px;
    background-color: transparent;
    color: white;
    padding: 10px 10px 10px 10px;
    border: 2px solid #a07eff9d;
    outline: none;
    border-radius: 40px;
}

.main_search_button {
    margin-left: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.main_search_button img {
    height: 35px;
    width: 35px;
}

 /* Main Post section */

 section {
    max-width: 70%;
    margin: auto;
    margin-top: 5vh;
 }

 section h4, h5 {
    text-transform: uppercase;
 }

 section hr {
    border: 1px solid #6a34ff9d;;
    height: 2px;
    background-color: #a07eff9d;
 }

 section img {
    height: 400px;
    width: 230px;
    border: 2px solid #a07eff9d;
}
 section h5{
    text-align: center;
    font-weight: 300;                                    
    line-height: 25px;
    color: white;
    width: 230px;
 }

.main_trending_post {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
}

/* SECONDARY POST SECTION (article) */
 article {
    max-width: 70%;
    margin: auto;
    margin-top: 10vh;
 }

 article h4, h5 {
    text-transform: uppercase;
 }

 article h4 {
    font-weight: 600;
    text-align: center;
 }

 article h5 {
    font-weight: bold;
    font-size: 25px;
 }

 article hr {
    border: 1px solid #6a34ff9d;
    height: 2px;
    background-color: #a07eff9d;
 }

 article img {
    max-height: 200px;
    width: 200px;
    border: 2px solid #a07eff9d;
 }

.main_popular_post {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
}

.main_popular_post_text hr{
    border: 1px solid black;
}

/* Main footer */

 footer {
    background-color: #070722;
    padding: 10px 0;
    text-align: center;
    margin-top: 50px;
  }
  
  .main_footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-links li {
    display: inline;
    margin-right: 10px;
  }
  
  .footer-links li a {
    color: white;
    text-decoration: none;
  }
  
  .footer-links li a:hover {
    text-decoration: underline;
  }
  
  /* POST PAGE MAIN */

  .post_page {
    max-width: 70%;
    margin: auto;
    margin-top: 6vh;
  }
  .post_page h4,h5,p,li{
    text-transform: uppercase;
    color: white;
  }

  .post_upper_box{
    display: flex;
    margin-top: 2rem;
  }

  .post_image{
    max-width: 40%;
    border: 2px solid #6a34ff9d;
  }

  .post_detail{
    margin-left: 2rem;
  }

  .post_detail li{
    font-weight: 300;
    margin-top: 2rem;
  }

  .post_detail a{
    color: #8457fd;
    font-weight: 300;
    text-decoration: none;
  }

  .post_detail li a:hover {
    text-decoration: underline;
  }

  .post_detail_text h5{
    margin-top: 3rem;
    font-weight: 600;
    font-size: 25px;
  }

  .post_detail_text hr {
    border: 1px solid #6a34ff9d;
    height: 2px;
    background-color: #a07eff9d;
 }

  .post_detail_text li{
    margin-top: 1rem;
    font-weight: 300;
    list-style:square;
  }