/* Default Body */

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Icons */

.main_logo {
    height: 60px;
    padding: 0;
    margin: 0;
}

/* Header */

#main_header {
    display: flex;
    justify-content: space-between;
    background-color: grey;
}

.main_logo {
    border: none;
    margin: 10px 0px 10px 10px;
}

.main_search {
    display: flex;
    align-items: center;
    margin-right: 100vh;
}